@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	var annualrep1img = Model.Value<IPublishedContent>("ourProjectsImage1");
	var annualrep1dateimg = Model.Value<IPublishedContent>("ourProjectsImage1Date");
	var businessins1img = Model.Value<IPublishedContent>("ourProjectsImage2");
	var businessinsdate1img = Model.Value<IPublishedContent>("ourProjectsImage2Date");
	var finaceadvimg = Model.Value<IPublishedContent>("ourProjectsImage3");
	var finaceadvdateimg = Model.Value<IPublishedContent>("ourProjectsImage3Date");
	var budgetplanimg = Model.Value<IPublishedContent>("ourProjectsImage4");
	var budgetplandateimg = Model.Value<IPublishedContent>("ourProjectsImage4Date");
}

<div class="topmenu bg-gray">
	<h2>@Model.Value("ourProjectsTitle")</h2>
</div>
<section class="ourprojectheadpage">
	<div class="container">
		<div class="ourprojectcontent">
				<div class="annulrpt">
					<img class="financeimage" src="@annualrep1img?.Url()" alt="Finance image">
					<aside class="sideannul">
						<h4>@Model.Value("ourProjectsImage1Headline")</h4>
						<img class="dateimage" src="@annualrep1dateimg?.Url()" alt="Date">
						<p>@Model.Value("ourProjectsImage1Text")</p>
						<a href="/our-project-details">@Model.Value("ourProjectsImage1ButtonText")</a>
					</aside>
				</div>
			<hr />
				<div class="bsninsigt">
					<img class="financeimage" src="@businessins1img?.Url()" alt="Finance image">
					<aside class="sidebsn">
						<h4>@Model.Value("ourProjectsImage2Headline")</h4>
						<img class="dateimage" src="@businessinsdate1img?.Url()" alt="Date">
						<p>@Model.Value("ourProjectsImage2Text")</p>
						<a href="/our-project-details">@Model.Value("ourProjectsImage1ButtonText")</a>
					</aside>
				</div>
			<hr />
				<div class="finceadv">
					<img class="financeimage" src="@finaceadvimg?.Url()" alt="Finance image">
					<aside class="sidefina">
						<h4>@Model.Value("ourProjectsImage3Headline")</h4>
						<img class="dateimage" src="@finaceadvdateimg?.Url()" alt="Date">
						<p>@Model.Value("ourProjectsImage3Text")</p>
						<a href="/our-project-details">@Model.Value("ourProjectsImage1ButtonText")</a>
					</aside>
				</div>
			<hr />
				<div class="bdgplan">
					<img class="budgetplanimage" src="@budgetplanimg?.Url()" alt="Budgetplan image">
					<aside class="sidebdg">
						<h4>@Model.Value("ourProjectsImage4Headline")</h4>
						<img class="budgetplanimage" src="@budgetplandateimg?.Url()" alt="Budgetplan image">
						<p>@Model.Value("ourProjectsImage4Text")</p>
						<a href="/our-project-details">@Model.Value("ourProjectsImage1ButtonText")</a>
					</aside>
					
				</div>
			
			
		</div>
		<hr class="vertical" />
		<aside class="tagsforms">
			
			<h4>Tags</h4>
			<div class="tagsnew">
				@if(Model.HasValue("ourProjectsTags"))
					{
 						var tags = Model.Value<IEnumerable<string>>("ourProjectsTags");
   					 <ul>
        				@foreach(var tag in tags)
        				{
            				<tags>@tag</tags>
        				}
   					 </ul>
					}
				</div>
			<form class="howcanwehelp bg-dark">
				<h4>How can we help you?</h4>
				<p>online support 24/7, we are here to<br>help you </p>
				<input class="inputhelp" placeholder="E-mail address"><i class="fa-regular fa-envelope"></i>
			</form>
		</aside>
	</div>
	
</section>
<section>@await Html.PartialAsync("letusknowpartialview")</section>