@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	var annualrep1img = Model.Value<IPublishedContent>("ourProjectsImage1");
	var annualrep1dateimg = Model.Value<IPublishedContent>("ourProjectsImage1Date");
	var businessins1img = Model.Value<IPublishedContent>("ourProjectsImage2");
	var businessinsdate1img = Model.Value<IPublishedContent>("ourProjectsImage2Date");
	var finaceadvimg = Model.Value<IPublishedContent>("ourProjectsImage3");
	var finaceadvdateimg = Model.Value<IPublishedContent>("ourProjectsImage3Date");
	var budgetplanimg = Model.Value<IPublishedContent>("ourProjectsImage4");
	var budgetplandateimg = Model.Value<IPublishedContent>("ourProjectsImage4Date");
}

<div class="topmenu bg-gray">
	<h1>@Model.Value("pageTitle")</h1>
</div>
<section class="ourproject-headpage">
	<div class="container">
		<div class="ourproject-content">
			<div class="allimgrpt">
			<div class="annulrpt">
				<img class="finance-image" src="@annualrep1img?.Url()" alt="Finance image">
				<h3>@Model.Value("ourProjectsImage1Headline")</h3>
				<img class="date-image" src="@annualrep1dateimg?.Url()" alt="Date">
				<p>@Model.Value("ourProjectsImage1Text")</p>
					<a href="/our-project-details">@Model.Value("ourProjectsImage1ButtonText")</a>
			</div>
			<div class="bsninsigt">
				<img class="finance-image" src="@businessins1img?.Url()" alt="Finance image">
				<h3>@Model.Value("ourProjectsImage2Headline")</h3>
				<img class="date-image" src="@businessinsdate1img?.Url()" alt="Date">
				<p>@Model.Value("ourProjectsImage2Text")</p>
					<a href="/our-project-details">@Model.Value("ourProjectsImage1ButtonText")</a>
			</div>
			<div class="finceadv">
				<img class="finance-image" src="@finaceadvimg?.Url()" alt="Finance image">
				<h3>@Model.Value("ourProjectsImage3Headline")</h3>
				<img class="date-image" src="@finaceadvdateimg?.Url()" alt="Date">
				<p>@Model.Value("ourProjectsImage3Text")</p>
					<a href="/our-project-details">@Model.Value("ourProjectsImage1ButtonText")</a>
			</div>
			<div class="bdgplan">
				<img class="budgetplan-image" src="@budgetplanimg?.Url()" alt="Budgetplan image">
				<h3>@Model.Value("ourProjectsImage4Headline")</h3>
				<img class="budgetplan-image" src="@budgetplandateimg?.Url()" alt="Budgetplan image">
				<p>@Model.Value("ourProjectsImage4Text")</p>
					<a href="/our-project-details">@Model.Value("ourProjectsImage1ButtonText")</a>
			</div>
			</div>
		</div>
		<aside>
			<h3>Tags</h3>
			@if(Model.HasValue("tags"))
				{
 					var tags = Model.Value<IEnumerable<string>>("tags");
    				<ul>
       				 @foreach(var tag in tags)
        				{
            				<li>@tag</li>
        				}
    				</ul>
}
			<form class="howcanwehelp">
				<h3>How can we help you?</h3>
				<label>Online support 24/7, we are here to help you</label>
				<input type="text" placeholder="Email address ">
				<i class="fa-regular fa-envelope"></i>
			</form>
		</aside>
	</div>

</section>
<section>@await Html.PartialAsync("letusknowpartialview")</section>