@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	var riskmanager1img = Model.Value<IPublishedContent>("serviceDetailImage1");
	var keypointimg = Model.Value<IPublishedContent>("serviceDetailImage2");
	var finacialpoint2img = Model.Value<IPublishedContent>("serviceDetailImage3");
}
<div class="topmenu">
	<h1>@Model.Value("serviceDetailHeadline")</h1>
</div>
<section class="servicedetails-section">
	<div class="container">
		<div class="servicedetails-content">
			<aside class="servicedetails-aboutus">
				<h3>@Model.Value("serviceDetailSecondaryHeadline")</h3>
				<img class="riskmanagment-image" src="@riskmanager1img?.Url()" alt="Riskmanagmnet">
				<p>@Model.Value("serviceDetailImage1Undertext")</p>
			</aside>
			<div class="servicedetails-keypoints">
				<img class="keypoint-image" src="@keypointimg?.Url()" alt="Keypoints">
				<h3>@Model.Value("serviceDetailImage2Headline")</h3>
				<p>@Model.Value("serviceDetailImage2Undertext")</p>
			</div>
			<div class="finacial-plan">
				<h3>@Model.Value("serviceDetailImage2SecondaryHeadline")</h3>
				<p>@Model.Value("serviceDetailImage2SecondaryUnderText")</p>
				<img class="riskpoint-image" src="@finacialpoint2img?.Url()" alt="Finacial plan">
			</div>
			<div class="finacial-confidance">
				<h3>@Model.Value("serviceDetailImage3Headline")</h3>
				<p>@Model.Value("serviceDetailImage3UnderText")</p>
			</div>
		</div>
	</div>
	<form class="haveaquestionform">
		<label>Have a question ?</label>
		<input type="text" placeholder="Name" >
		<input type="text" placeholder="Email" >
		<input type="text" placeholder="Questions" >
	</form>
</section>
<section>@await Html.PartialAsync("letusknowpartialview")</section>