@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	var riskmanagermimg = Model.Value<IPublishedContent>("ourServicePageImage1");
	var bondsmimg = Model.Value<IPublishedContent>("ourServicePageImage2");
	var assurancemimg = Model.Value<IPublishedContent>("ourServicePageImage3");
	var taxmimg = Model.Value<IPublishedContent>("ourServicePageImage4");
	var financialmimg = Model.Value<IPublishedContent>("ourServicePageImage5");
	var statisticmimg = Model.Value<IPublishedContent>("ourServicePageImage6");
}

<div class="topmenu bg-gray">
	<h2>@Model.Value("ourServicePageTitle")</h2>
</div>
<section class="ourservicemainpage">
	<div class="container">
		<div class="ourservicemain-content">
			<h2 class="ourshead">@Model.Value("ourServicePageHeadline")</h2>
			<div class="servicesectionfirts">
				<div class="service1 bg-light">
					<h3>@Model.Value("ourServicePageImageHeadline1")</h3>
					<a href="/our-service-details"><img class="riskmanagment-image" src="@riskmanagermimg?.Url()" alt="Riskmanagmnet"></a>
					
					<p>@Model.Value("ourServicePageImage1Text")</p>
				</div>
				<div class="service2 bg-light">
					<h3>@Model.Value("ourServicePageImage2Headline")</h3>
					<a href="/our-service-details"><img class="servicebond-image" src="@bondsmimg?.Url()" alt="Bonds"></a>
						
					<p>@Model.Value("ourServicePageImage2Text")</p>
				</div>
				<div class="service3 bg-light">
					<h3>@Model.Value("ourServicePageImage3Headline")</h3>
					<a href="/our-service-details"><img class="assurance-image" src="@assurancemimg?.Url()" alt="Assurance"></a>
					
					<p>@Model.Value("ourServicePageImage3Text")</p>
				</div>
			</div>
			<div class="servicesectionsecond">
				<div class="service4 bg-light">
					<h3>@Model.Value("ourServicePageImage4Headline")</h3>
					<a href="/our-service-details"><img class="servicetax-image" src="@taxmimg?.Url()" alt="Tax"></a>
					
					<p>@Model.Value("ourServicePageImage4Text")</p>
				</div>
				<div class="service5 bg-light">
					<h3>@Model.Value("ourServicePageImage5Headline")</h3>
					<a href="/our-service-details"><img class="servicefinacial-image" src="@financialmimg?.Url()" alt="Finance"></a>
					
					<p>@Model.Value("ourServicePageImage5Text")</p>
				</div>
				<div class="service6 bg-light">
					<h3>@Model.Value("ourServicePageImage6Headline")</h3>
					<a href="/our-service-details"><img class="servicestatic-image" src="@statisticmimg?.Url()" alt="Statistic"></a>
					
					<p>@Model.Value("ourServicePageImage6Text")</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>@await Html.PartialAsync("letusknowpartialview")</section>