@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	var projectdetailsdateimg = Model.Value<IPublishedContent>("projectsDetailDate1");
	var projectdetailsfirtsimg = Model.Value<IPublishedContent>("projectsDetailImage1");
	var projectdetailssecondimg = Model.Value<IPublishedContent>("projectsDetailImage2");
	var projectdetailsthirdimg = Model.Value<IPublishedContent>("projectsDetailImage3");
	var annualrep2img = Model.Value<IPublishedContent>("recentProjectsImage1");
	var annualrep2dateimg = Model.Value<IPublishedContent>("recentProjectsImage1Date");
	var businessins2img = Model.Value<IPublishedContent>("recentProjectsImage2");
	var businessinsdate2img = Model.Value<IPublishedContent>("recentProjectsImage2Date");
	var finaceadv2img = Model.Value<IPublishedContent>("recentProjectsImage3");
	var finaceadvdate2img =Model.Value<IPublishedContent>("recentProjectsImage3Date");
	var budgetplan2img = Model.Value<IPublishedContent>("recentProjectsImage4");
	var budgetplandate2img = Model.Value<IPublishedContent>("recentProjectsImage4Date");
}

<div class="topmenu bg-gray">
	<h2>@Model.Value("projectsDetailHeadline")</h2>
</div>
<section class="projectdetailsannualreport">
	<div class="container">
		<div class="projectdetailscontent">
			<div class="projectdetailssugforyou">
				<img class="financeimage" src="@projectdetailsdateimg?.Url()" alt="Finance image">
				<p>@Model.Value("projectsDetailHeadline2")</p>
				<img class="financeimage" src="@projectdetailsfirtsimg?.Url()" alt="Finance image">
				<h3>@Model.Value("projectsDetailImage1Headline")</h3>
				<p>@Model.Value("projectsDetailImage1Text")</p>
			</div>
			<div class="projectdetailsnuncfac">
				<img class="financeimage" src="@projectdetailssecondimg?.Url()" alt="Finance image">
				<div class="nuncfacimg">
				<h5>@Model.Value("projectsDetailImage2Headline")</h5>
				<p>@Model.Value("projectsDetailImage2Text")</p>
				</div>
			</div>
			<div class="projectdetailsnullarmblandis">
				<h5>@Model.Value("projectsDetailImage3OverHeadline")</h5>
				<p>@Model.Value("projectsDetailImage3OverText")</p>
				<img class="financeimage" src="@projectdetailsthirdimg?.Url()" alt="Finance image">
				<h5>@Model.Value("projectsDetailImage3UnderHeadline")</h5>
				<p>@Model.Value("projectsDetailImage3Undertext")</p>
			</div>
			<div class="projectdetailstags1">
			<h5>Tags: </h5>
			<div class="tagsnew">
				@if(Model.HasValue("projectsDetailTags"))
					{
 						var tags = Model.Value<IEnumerable<string>>("projectsDetailTags");
   					 <ul>
        				@foreach(var tag in tags)
        				{
            				<tags>@tag</tags>
        				}
   					 </ul>
					}
			</div>
			</div>
		</div>
		<hr class="vertical" />
		<aside class="asideprdetails">
			<h4>@Model.Value("recentProjectsHeadline")</h4>
			<div class="annaulrpt">
			<img class="financeimage" src="@annualrep2img?.Url()" alt="Finance image">
			<div class="finatxt">
			<h5>@Model.Value("recentProjectsImage1Headline")</h5>
					<div class="date-image">
						<img class="date-image" src="@annualrep2dateimg?.Url()" alt="Date">
					</div>
			</div>
			
			</div>
			<div class="bsninsigt">
			<img class="financeimage" src="@businessins2img?.Url()" alt="Finance image">
			<div class="finatxt">
			<h5>@Model.Value("recentProjectsImage2Headline")</h5>
					<div class="date-image">
						<img class="date-image" src="@businessinsdate2img?.Url()" alt="Date">
					</div>
			</div>
				
			</div>
			<div class="finceadv">
			<img class="financeimage" src="@finaceadv2img?.Url()" alt="Finance image">
			<div class="finatxt">
			<h5>@Model.Value("recentProjectsImage3Headline")</h5>
					<div class="date-image">
						<img class="date-image" src="@finaceadvdate2img?.Url()" alt="Date">
					</div>
			</div>
			
			</div>
			<div class="bdgplan">
				<img class="financeimage" src="@budgetplan2img?.Url()" alt="Budgetplan image">
				<div class="finatxt">
			<h5>@Model.Value("recentProjectsImage4Headline")</h5>
					<div class="date-image">
						<img class="budgetplanimage" src="@budgetplandate2img?.Url()" alt="Budgetplan image">
					</div>
			</div>
			</div>
				<div class="projectdetailstags2">
			<h3>Tags</h3>
				<div class="tagsnew">
				@if(Model.HasValue("recentProjectsTags"))
					{
 						var tags = Model.Value<IEnumerable<string>>("recentProjectsTags");
   					 <ul>
        				@foreach(var tag in tags)
        				{
            				<tags>@tag</tags>
        				}
   					 </ul>
					}
					</div>
			</div>

			<form class="howcanwehelp bg-dark">
				<h4>How can we help you?</h4>
				<p>online support 24/7, we are here to<br>help you </p>
				<input class="inputhelp" placeholder="E-mail address"><i class="fa-regular fa-envelope"></i>
			</form>

		
		</aside>
	</div>

</section>
<section>@await Html.PartialAsync("letusknowpartialview")</section>