@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	var projectdetailsdateimg = Model.Value<IPublishedContent>("projectsDetailDate1");
	var projectdetailsfirtsimg = Model.Value<IPublishedContent>("projectsDetailImage1");
	var projectdetailssecondimg = Model.Value<IPublishedContent>("projectsDetailImage2");
	var projectdetailsthirdimg = Model.Value<IPublishedContent>("projectsDetailImage3");
	var annualrep2img = Model.Value<IPublishedContent>("recentProjectsImage1");
	var annualrep2dateimg = Model.Value<IPublishedContent>("recentProjectsImage1Date");
	var businessins2img = Model.Value<IPublishedContent>("recentProjectsImage2");
	var businessinsdate2img = Model.Value<IPublishedContent>("recentProjectsImage2Date");
	var finaceadv2img = Model.Value<IPublishedContent>("recentProjectsImage3");
	var finaceadvdate2img =Model.Value<IPublishedContent>("recentProjectsImage3Date");
	var budgetplan2img = Model.Value<IPublishedContent>("recentProjectsImage4");
	var budgetplandate2img = Model.Value<IPublishedContent>("recentProjectsImage4Date");
}

<div class="topmenu bg-gray">
	<h2>@Model.Value("projectsDetailHeadline")</h2>
</div>
<section class="projectdetailsannualreport">
	<div class="container">
		<div class="projectdetailscontent">
			<div class="projectdetailssugforyou">
				<img class="financeimage" src="@projectdetailsdateimg?.Url()" alt="Finance image">
				<p>@Model.Value("projectsDetailHeadline2")</p>
				<img class="financeimage" src="@projectdetailsfirtsimg?.Url()" alt="Finance image">
				<h3>@Model.Value("projectsDetailImage1Headline")</h3>
				<p>@Model.Value("projectsDetailImage1Text")</p>
			</div>
			<div class="projectdetailsnuncfac">
				<img class="financeimage" src="@projectdetailssecondimg?.Url()" alt="Finance image">
				<h5>@Model.Value("projectsDetailImage2Headline")</h5>
				<p>@Model.Value("projectsDetailImage2Text")</p>
			</div>
			<div class="projectdetailsnullarmblandis">
				<h5>@Model.Value("projectsDetailImage3OverHeadline")</h5>
				<p>@Model.Value("projectsDetailImage3OverText")</p>
				<img class="financeimage" src="@projectdetailsthirdimg?.Url()" alt="Finance image">
				<h5>@Model.Value("projectsDetailImage3UnderHeadline")</h5>
				<p>@Model.Value("projectsDetailImage3Undertext")</p>
			</div>
			<div class="projectdetailstags1">
			<h5>Tags: </h5>
		
			</div>
		</div>
		<aside class="asideprdetails">
			<div class="annaulrpt">
			<img class="financeimage" src="@annualrep2img?.Url()" alt="Finance image">
			<h3>@Model?.Value("annualReportTitle")</h3>
			<img class="date-image" src="@annualrep2dateimg?.Url()" alt="Date">
			
			</div>
			<div class="bsninsigt">
			<img class="financeimage" src="@businessins2img?.Url()" alt="Finance image">
			<h3>@Model?.Value("businessTitle")</h3>
			<img class="date-image" src="@businessinsdate2img?.Url()" alt="Date">
			</div>
			<div class="finceadv">
			<img class="financeimage" src="@finaceadv2img?.Url()" alt="Finance image">
			<h3>@Model?.Value("finacialAdvTitle")</h3>
			<img class="date-image" src="@finaceadvdate2img?.Url()" alt="Date">
			
			</div>
			<div class="bdgplan">
			<img class="budgetplanimage" src="@budgetplan2img?.Url()" alt="Budgetplan image">
			<h3>@Model?.Value("budgetTitle")</h3>
			<img class="budgetplanimage" src="@budgetplandate2img?.Url()" alt="Budgetplan image">
			
			</div>
				<div class="projectdetailstags2">
			<h3>Tags</h3>
				

			</div>
		</aside>
	</div>

</section>
<section>@await Html.PartialAsync("letusknowpartialview")</section>